{% extends 'create_tender/base.html' %}
{% block link %}
    "{% url 'buyerHome' %}"
{% endblock %}
{% block tilte %}
    Update Bid
{% endblock %}
{% block body %}
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Bid awarded to {{ atend.user.profile.company_name }}</h2>

                    <h5>
                        Model
                    </h5>
                    <p>{{ atend.Mod }}</p>
                    <h5>
                        Operating weight
                    </h5>
                    <p>{{ atend.Operating_weight }}</p>
                    <h5>
                        Net power
                    </h5>
                    <p>{{ atend.Net_power }}</p>
                    <h5>
                        Engine
                    </h5>
                    <p>{{ atend.Engine }}</p>
                    <h5>
                        Electric
                    </h5>
                    <p>{{ atend.Electric }}</p>
                    <h5>
                        Certification
                    </h5>
                    <p>{{ atend.Certification }}</p>
                    <h5>
                        Quote Amount
                    </h5>
                    <p>{{ atend.Quote_amount }}</p>
                    <h5>
                        Documents
                    </h5>
                    {% if atend.Bid_documents_url %}
                        <a target="_blank" href="{{ atend.Bid_documents_url.url }}" class="btn btn--green">Download</a>
                    {% else %}
                        <p>No documents available</p>
                    {% endif %}<br><br>
                    <a class="btn--radius btn btn--def" href="{% url 'crep' atend.Tender_ID.id %}" target="_blank">Generate report</a>


                </div>
            </div>
        </div>
    </div>
{% endblock %}