{% extends 'create_tender/base.html' %}
{% block tilte %}
My Bids
{% endblock %}
{% block link %}
"{% url 'bidderHome' %}"
{% endblock %}
{% block body %}

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Bid History</h2>
                    <ul>
                        {% for bid in bids %}
                            <a href=""><h4>Bid by {{ bid.user.profile.company_name }}</h4></a>
                            <p>created on: {{ bid.Bid_created_date }}</p>
                            {% empty %}
                                <li>No Bids for Tender yet</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}