{% extends "home/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block link %}
    "{% url 'bidderHome'%}"
{% endblock %}
{% block body %}
    <section class="mbr-cards mbr-section mbr-section-nopadding" id="features2-3" style="background-color: rgb(255, 255, 255);">

        <div class="mbr-cards-row row striped">
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img etl-icon icon-pencil mbr-iconfont mbr-iconfont-features2">
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Tender History</h4>
                            <p class="card-text"></p>
                            <div class="card-btn">
                                <a href="" class="btn btn-primary">TENDER HISTORY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img etl-icon icon-global mbr-iconfont mbr-iconfont-features2">
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bid For Tenders</h4>
                            <p class="card-text">
                                </p>
                            <div class="card-btn">
                                <a href="{% url 'bid_feed' %}" class="btn btn-primary">BID FOR TENDERS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

        <div class="container">
            <p class="text-xs-center">E-Procurement System.</p>
        </div>
    </footer>
{% endblock %}