{% extends "login/base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-26">
                        Welcome To E-Procurement
                    </span>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.level_tag }}" role="alert">
                                    <li>{{ message }}</li>

                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}

                        <div data-validate="{{ field.help_text }}">
                            {{ field }}
                        </div>

                        </p>
                    {% endfor %}


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
                <div class="text-center p-t-65">
						<span class="txt1">
							Don’t have an account?
						</span>

                    <a class="txt2" href="{% url 'signup' %}">
                        Sign Up
                    </a>
                </div>

                <div class="text-center p-t-45">
                    <a class="txt2" href="">
                        Forgot password?
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}