{% extends "login/base.html" %}

{% block title %}Register{% endblock %}
{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="{% url 'success' %}" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-26">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input" data-validate="Username">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="">
                    <input class="input100" type="text" name="companyName">
                    <span class="focus-input100" data-placeholder="Company Name"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div>
                    <label class="label--block">Account type</label>
                    <label class="radio-container m-r-55">Bidder
                        <input type="radio" checked="checked" name="ac_type">
                    </label>
                    <label class="radio-container">Seller
                        <input type="radio" name="ac_type">
                    </label>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
             <div class="text-center p-t-65">
						<span class="txt1">
							Already have an Account?
						</span>

                <a class="txt2" href="{% url 'login' %}">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}