{% extends "login/base.html" %}
{% block title %}
    Register
{% endblock %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="container">
                <form method="post">
                     <span class="login100-form-title p-b-26">Sign Up</span>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ profile_form.as_p }}
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
