{% extends 'create_tender/base.html' %}
{% block tilte %}
    My Bids
{% endblock %}
{% block link %}
    "{% url 'bidderHome' %}"
{% endblock %}
{% block body %}

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Bid History</h2>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.level_tag }}" role="alert">
                                    <li>{{ message }}</li>

                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul>
                        {% for bid in bids %}
                            <div class="card card-1 card-body">
                                <h4>{{ bid }}</h4>
                                <a href="{% url 'bid_update' bid.id %}" class="btn--green btn--radius btn">View Bid</a>
                                <p>Bid created on: {{ bid.Bid_created_date }}</p>
                            </div>
                        {% empty %}
                            <li>No Bids Bid for Tender yet</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}