{% extends 'create_tender/base.html' %}
{% block link %}
    "{% url 'bidderHome' %}"
{% endblock %}
{% block tilte %}
    Desktop tenders
{% endblock %}
{% block body %}
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <div class="tab-content">
                        <div id="desktop" class="container tab-pane active">

                            <h3 class="title">Available Desktop Tenders</h3>
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.level_tag }}" role="alert">
                                            <li>{{ message }}</li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <ul>
                                {% for tender in tenders %}
                                    <div class="card card-1 card-body">
                                        <h4>{{ tender }}</h4>
                                        <p>posed on:
                                            {{ tender.date_created }}</p>
                                        <a href="{% url 'bid_tender' tender.id %}"
                                           class="btn btn--radius btn--green">Bid</a>
                                    </div>
                                {% empty %}
                                    No Tenders Available at the moment
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}