{% extends 'create_tender/base.html' %}
{% block tilte %}
    View Tenders
{% endblock %}
{% block link %}
    "{% url 'bidderHome' %}"
{% endblock %}
{% block body %}

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Available Tenders</h2>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.level_tag }}" role="alert">
                                    <li>{{ message }}</li>

                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul>
                        {% for tender in tenders %}
                            <a href="{% url 'bid_tender' tender.id %}"><h4>{{ tender }}</h4></a>
                            <p>{{ tender.date_created }}</p>
                        {% empty %}
                            <li>No Tenders</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
