/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

.p-t-45 {padding-top: 45px;}
.p-t-65 {padding-top: 65px;}
.p-b-26 {padding-bottom: 26px;}



/* ------------------------------------ */
.text-up {text-transform: uppercase;}

/* ------------------------------------ */
.text-center {text-align: center;}


/*[ Background ]
-----------------------------------------------------------
*/
.bgwhite {background-color: white;}
.bgblack {background-color: black;}

/* ------------------------------------ */
