<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title></title>
    {% load static %}
    <!-- Icons font CSS-->
    <link href="{% static 'create_tender/vendor/mdi-font/css/material-design-iconic-font.min.css'%}" rel="stylesheet" media="all">
    <link href="{% static 'create_tender/vendor/font-awesome-4.7/css/font-awesome.min.css'%}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="{% static 'login/fonts/iconic/fonts/css Fonts.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'home/assets/dropdown/css/style.css' %}">
    <link href="{% static 'home/assets/theme/css/style.css' %}">

    <!-- Vendor CSS-->
    <link href="{% static 'create_tender/vendor/select2/select2.min.css'%}" rel="stylesheet" media="all">
    <link href="{% static 'create_tender/vendor/datepicker/daterangepicker.css'%}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'create_tender/css/main.css'%}" rel="stylesheet" media="all">
</head>

<body>
{% block body %}
{% endblock %}
    <!-- Jquery JS-->
    <script src="{% static 'create_tender/vendor/jquery/jquery.min.js'%}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'create_tender/vendor/select2/select2.min.js'%}"></script>
    <script src="{% static 'create_tender/vendor/datepicker/moment.min.js'%}"></script>
    <script src="{% static 'create_tender/vendor/datepicker/daterangepicker.js'%}"></script>

    <!-- Main JS-->
    <script src="{% static 'create_tender/js/global.js'%}"></script>

</body>

</html>
