<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <!-- Title Page-->
    <title>{% block tilte %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'create_tender/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">
    <link href="{% static 'create_tender/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet"
          media="all">
    <link href="{% static 'create_tender/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'create_tender/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <link href="{% static 'create_tender/css/main.css' %}" rel="stylesheet" media="all">

  <link rel="stylesheet" href="{% static 'home/assets/bootstrap-material-design-font/css/material.css'%}">
  <link rel="stylesheet" href="{% static 'home/assets/et-line-font-plugin/style.css'%}">
  <link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'home/assets/socicon/css/socicon.min.css'%}">
  <link rel="stylesheet" href="{% static 'home/assets/animate.css/animate.min.css'%}">
  <link rel="stylesheet" href="{% static 'home/assets/theme/css/style.css'%}">


</head>

<body>
<section id="menu-0">

        <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
            <div class="container">

                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a class="mbr-iconfont mbr-iconfont-menu navbar-caption"
                               href={% block link %} {% endblock %}>HOME</a>
                        </div>
                    </div>
                    <div class="mbr-table-cell" style="padding: 15px">
                        <div class="pull-xs-right nav navbar-nav navbar-toggleable-sm"
                             id="exCollapsingNavbar">
                            <a class="nav-link link" href="{% url 'logout' %}">LOGOUT</a>
                        </div>
                        <div class="pull-xs-right nav navbar-nav navbar-toggleable-sm" style="padding-right: 15px"
                             id="exCollapsingNavbar">
                            <a class="nav-link link" data-toggle="dropdown-submenu" href="">HELP</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </section>

{% block body %}
{% endblock %}
<!-- Jquery JS-->
<script src="{% static 'create_tender/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'create_tender/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'create_tender/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'create_tender/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'create_tender/js/global.js' %}"></script>
<script src="{% static 'home/assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'home/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/assets/smooth-scroll/SmoothScroll.js' %}"></script>
<script src="{% static 'home/assets/viewportChecker/jquery.viewportchecker.js' %}"></script>
<script src="{% static 'home/assets/theme/js/script.js' %}"></script>
<script src="{% static 'home/assets/dropdown/js/script.min.js' %}"></script>
<script src="{% static 'home/assets/touchSwipe/jquery.touchSwipe.min.js' %}"></script>

<input name="animation" type="hidden">

    <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-6" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

        <div class="container">
            <p class="text-xs-center">E-Procurement system</p>
        </div>
    </footer>

</body>

</html>
