{% extends 'create_tender/base.html'%}
{% block tilte %}<title>Create a tender</title>{% endblock %}
{% block body %}
        <section id="menu-0">

        <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
            <div class="container">

                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a class="mbr-iconfont mbr-iconfont-menu navbar-caption"
                               href="{% url "buyerHome" %}">HOME</a>
                        </div>
                    </div>
                    <div class="mbr-table-cell" style="padding: 15px">
                        <div class="pull-xs-right nav navbar-nav navbar-toggleable-sm"
                            id="exCollapsingNavbar">
                            <a class="nav-link link" data-toggle="dropdown-submenu" href="{% url 'login' %}">LOGOUT</a>
                        </div>
                        <div class="pull-xs-right nav navbar-nav navbar-toggleable-sm" style="padding-right: 15px"
                            id="exCollapsingNavbar">
                            <a class="nav-link link" data-toggle="dropdown-submenu" href="">HELP</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </section>

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Create Tender</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="TITLE" name="name">
                        </div>
                        <div class="input-group">
                            <textarea class="input--style-1" type="text" placeholder="Description" name="name"></textarea>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Is tender active?" name="is_active">
                        </div>
                        <div>
                            <input  type="number" placeholder="Tender Value" name="docs">
                        </div>
                         <div class="input-group">
                            <input class="input--style-1" type="file" placeholder="Files" name="docs">
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
