{% extends 'create_tender/base.html' %}
{% block tilte %}Create a tender{% endblock %}
{% block link %}
    "{% url 'buyerHome' %}"
{% endblock %}
{% block body %}

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Create Tender</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.level_tag }}" role="alert">
                                        <li>{{ message }}</li>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}<br>
                            <div class=" " data-validate="{{ field.help_text }}">
                                <div class="input-group input--style-1">
                                    {{ field }}
                                </div>
                            </div>
                            </p>
                        {% endfor %}
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
